aws_region           = "eu-north-1"
instance_type        = "t3.micro"
docker_image         = "mpeets/devops-api:latest"
ami_id               = "ami-0c1ac8a41498c1a9c"
ssh_allowed_cidrs    = ["203.0.113.10/32"] # Replace with your public IPv4 /32
enable_ecs           = true
enable_ec2           = false
ecs_assign_public_ip = false
vpc_cidr             = "10.0.0.0/16"
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs = ["10.0.101.0/24", "10.0.102.0/24"]
